<header>
	<nav
		class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
	>
		<div class="container">
			<a class="navbar-brand" [routerLink]="['/']">Help Desk</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target=".navbar-collapse"
				aria-label="Toggle navigation"
				[attr.aria-expanded]="isExpanded"
				(click)="toggle()"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div
				class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
				[ngClass]="{ show: isExpanded }"
			>
				<ul class="navbar-nav flex-grow">
					<li
						class="nav-item"
						[routerLinkActive]="['link-active']"
						[routerLinkActiveOptions]="{ exact: true }"
					>
						<a class="nav-link text-dark" [routerLink]="['/']">Home</a>
					</li>
					<ng-container *ngIf="this.engineservice.username">
						<li class="nav-item" [routerLinkActive]="['link-active']">
							<a class="nav-link text-dark" [routerLink]="['/bookmark']">{{this.engineservice.username}}'s Bookmarks</a>
						</li>
						<li class="nav-item" [routerLinkActive]="['link-active']">
							<span style="cursor:pointer" class="nav-link text-dark" (click)="logout()">LogOut</span>
						</li>
					</ng-container>
				</ul>
			</div>
		</div>
	</nav>
</header>
